# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore macOS-specific files
.DS_Store

# Ignore node_modules (if using any frontend tools)
node_modules/

# Ignore log files
*.log

# Ignore deployment files (if not necessary for versioning)
*.env
*.lock

# Ignore documentation files
*.md

# Ignore LICENSE file
LICENSE

# Ignore build directories
build/
dist/

# Ignore all files in case of deploying assets directly
*.tar.gz
*.zip
