<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Selector</title>
  <link rel="stylesheet" href="../static/css/index_styles.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Choose Your Game</h1>
    <div class="button-container">
      <button id="tictactoe-btn" class="game-button tictactoe">Tic-Tac-Toe</button>
      <button id="connect4-btn" class="game-button connect4">Connect 4</button>
    </div>
  </div>

  <script src="../static/js/main.js"></script>
</body>
</html>
